
@model dynamic

@{
    ViewBag.Title = "MVC";
}

@{
    var isAdmin = User.IsInRole("Administrator").ToString();
}

@if (User.IsInRole("Administrator"))
{
    <button class="btn btn-primary addQuestion" type="button">Add a Question</button>
}
else
{
    <button class="btn btn-primary addQuestion" style="visibility: hidden" type="button">Add a Question</button>

}
<div id="page_name" class="btn-primary pageName">MVC</div>
<div class="jumbotron jumbotron-questions">
    @if (User.IsInRole("Administrator"))
    {
        @Html.Partial("_Add")
    }
    <div id="@isAdmin" class="parent">
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/questions")
}

