
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StudyLab</h1>
    <p class="lead">StudyLab is a personal WebAPI 2 project for delivering a super responsive web application that also stores useful information for quick revision.</p>
    <p><a href="/JavaScript" class="btn btn-primary btn-lg">Try out JavaScript!</a></p>
</div>

