@model dynamic

@{
    ViewBag.Title = "WebAPI";
}

@if (User.IsInRole("Administrator"))
{
    <button class="btn btn-primary addQuestion" type="button">Add a Question</button>
}
else
{
    <button class="btn btn-primary addQuestion" style="visibility: hidden" type="button">Add a Question</button>
}

<div id="page_name" class="btn-primary pageName">WebAPI</div>
<div class="jumbotron jumbotron-questions">
    @if (User.IsInRole("Administrator"))
    {
        @Html.Partial("_Add")
    }
    <div class="parent">
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/questions")

}
