@model dynamic

@{
    ViewBag.Title = "ReactJS";
}

<button class="btn btn-primary addQuestion" type="button">Add a Question</button>
<div id="page_name" class="btn-primary pageName">React</div>
<div class="jumbotron jumbotron-questions">
    @Html.Partial("_Add")
    <div class="parent">
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/questions")
}

