@Styles.Render("~/Content/admin-css")

<body>
    <div class="navbar"></div>
@RenderBody()

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
</body>
